@import "tailwindcss";

@theme static {
  --color-primary: #f5f5f5;
  --color-secondary: #000000;
  --color-accent: #0082ba;
  --color-background: #000000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}